In [1]:
import pandas as pd  # standard shortcut
import numpy as np  # underlying framework

In [2]:
number_series = pd.Series([1, 2, 2, 3, 5, 8])
print(number_series)

0    1
1    2
2    2
3    3
4    5
5    8
dtype: int64

In [3]:
ages = pd.Series({'sarah':42, 'amit':35, 'zhang':13})
print(ages)

amit     35
sarah    42
zhang    13
dtype: int64

In [10]:
ages + pd.Series({'sarah':10, 'amit':5, 'zhang':20})

amit     40
sarah    52
zhang    33
dtype: int64

In [13]:
s1 = pd.Series([3, 1, 4, 1, 5])
s2 = pd.Series([1, 6, 1, 8, 0])
(s1 > s2).all()

False

In [17]:
s2

0    1
1    6
2    1
3    8
4    0
dtype: int64

In [19]:
ages.idxmin()

'zhang'

In [11]:
ages.index

Index(['amit', 'sarah', 'zhang'], dtype='object')

In [21]:
ages[0]

35

0    3
1    1
2    4
3    1
4    5
dtype: int64

In [30]:
filter_indices = [False, False, False, True, True]
s1[filter_indices]

3    1
4    5
dtype: int64

In [32]:
shoe_sizes = pd.Series([5.5, 11, 7, 8, 4])
small_sizes = shoe_sizes < 6  # True, False, False, False, True

In [39]:
small_shoes = shoe_sizes[small_sizes]
small_shoes

0    5.5
4    4.0
dtype: float64

In [41]:
name_series = pd.Series(['Ada','Bob','Chris','Diya','Emma'])
heights = [64, 74, 69, 69, 71]
weights = [135, 156, 139, 144, 152]

df = pd.DataFrame({'name':name_series, 
                   'height':heights, 
                   'weight':weights})
print(df)

   height   name  weight
0      64    Ada     135
1      74    Bob     156
2      69  Chris     139
3      69   Diya     144
4      71   Emma     152

In [43]:
df.columns

Index(['height', 'name', 'weight'], dtype='object')

In [45]:
df = df.assign(shoe_size = [11,5,6,5.5,8])

In [47]:
df.mean()

height        69.4
weight       145.2
shoe_size      7.1
dtype: float64

In [49]:
description = df.describe()

In [53]:
description['height']['count']

5.0

In [63]:
description.height['count']

5.0

In [66]:
df.height > 70

0    False
1     True
2    False
3    False
4     True
Name: height, dtype: bool

In [67]:
df[ df.height > 70 ]

   height  name  weight  shoe_size
1      74   Bob     156        5.0
4      71  Emma     152        8.0

In [68]:
description

          height      weight  shoe_size
count   5.000000    5.000000   5.000000
mean   69.400000  145.200000   7.100000
std     3.646917    8.757854   2.459675
min    64.000000  135.000000   5.000000
25%    69.000000  139.000000   5.500000
50%    69.000000  144.000000   6.000000
75%    71.000000  152.000000   8.000000
max    74.000000  156.000000  11.000000

In [70]:
description.loc['mean']

height        69.4
weight       145.2
shoe_size      7.1
Name: mean, dtype: float64